{
    "fields": {
        {{if .UpdateData.dealsize }}
            "customfield_26606": "{{index .UpdateData "dealsize"}}",
        {{end}}

        {{if .UpdateData.storypoints }}
            "customfield_10004": {{index .UpdateData "storypoints"}}
        {{end}}
    }
}